* {
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
}

.container {
    /* Ubah width ke 100% */
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/* ini bagian navigasi header */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(0, 0, 2, 0.445);
}

.active {
    background-color: red;
}

.active:hover {
    background-color: darkred;
}


/* ini style buat bagian UTAMA jgn di edit atau di ubah */

.clear {
    clear: left;
}

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    height: 400px;
}

.menu1 {
    width: 50%;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pubg-helmet-guy-with-girls-and-guns-4k-i2.jpg);
}

.menu2 {
    width: 50%;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(csgo-game-wallpaper-hd.jpg);
}

h2 {
    margin-top: 50px;
    letter-spacing: 15px;
    font-weight: lighter;
    width: 100%;
}

h1 {
    margin-top: 20px;
    width: 100%;
    font-size: 30px;
    font-weight: lighter;
}

.btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    width: 230px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
}

.btn-menu p {
    color: whitesmoke;
}

.btn:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.fa {
    margin-right: 10px;
}

.signup {
    background-color: #ff0000;
}

.artikel {
    background-color: #2edf4b;
    margin-right: 10px;
}

.masuk {
    background-color: #1647ce;
    margin-right: 10px;
}


/* sampai di sini css buat bagian utama */


/* bagian extra 1 */

div.gallery1 {
    margin: 10px;
    border: 5px solid red;
    float: left;
    width: 20%;
    position: relative;
}

div.gallery1:hover {
    border: 5px solid rgb(26, 22, 22);
}

div.gallery1 img {
    width: 100%;
    height: auto;
    text-underline-position: below;
}

div.desc {
    padding: 15px;
    text-align: center;
}

h3 {
    text-align: center;
    background-color: rgb(240, 15, 15);
    clear: both;
    letter-spacing: 15px;
    font-weight: bold;
    font-weight: lighter;
    border: 5px solid rgb(26, 23, 23);
}


/* Bagian extra 2 */

div.gallery2 {
    margin: 10px;
    border: 5px solid rgb(9, 21, 196);
    float: left;
    width: 20%;
}

div.gallery2:hover {
    border: 5px solid rgb(22, 18, 18);
}

div.gallery2 img {
    width: 100%;
    height: auto;
}


/* css bagian footer */

footer {
    background-color: rgb(2, 1, 1);
    color: white;
    text-align: center;
    margin: auto;
    padding: 5px;
    /* position: absolute; */
    top: 1100px;
    /* left: 0;
    right: 0; */
    width: 100%;
    clear: both;
}